body{
  background:white;
  overflow:hidden;
}

.edit-btn{
  margin-right:20px;
}
.custom-input input {
  width:100%;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background:none;
}

.custom-input input:focus {
  width:100%;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background:none;
}

.upload-btn{
  margin-right:auto;
}